
// commons
@import "./assets/sass/commons";

a {
  font-size: 14px;
  font-weight: $font-weight-semibold;
  color: $color-gray-100;
  box-sizing: border-box;
  padding: $spacing-16 $spacing-32;
  background-color: white;
  border-radius: 12px;
}
